In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
import tensorflow as tf
from keras.layers import Dense, Dropout, Activation, Flatten

In [4]:
# windows file path
df = pd.read_csv('file:///C:/Users/Mher/TSLA.csv')
df[::10]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-03-28,46.321999,46.962002,45.000000,46.051998,46.051998,19628500
10,2016-04-11,50.200001,51.798000,49.060001,49.984001,49.984001,45808500
20,2016-04-25,50.602001,51.476002,50.152000,50.363998,50.363998,18351500
30,2016-05-09,43.144001,43.230000,41.360001,41.784000,41.784000,23882000
40,2016-05-23,43.973999,44.520000,43.172001,43.243999,43.243999,25512500
...,...,...,...,...,...,...,...
1210,2021-01-14,843.390015,863.000000,838.750000,845.000000,845.000000,31266300
1220,2021-01-29,830.000000,842.409973,780.099976,793.530029,793.530029,34990800
1230,2021-02-12,801.260010,817.330017,785.330017,816.119995,816.119995,23768300
1240,2021-03-01,690.109985,719.000000,685.049988,718.429993,718.429993,27136200
1250,2021-03-15,694.090027,713.179993,684.039978,707.940002,707.940002,29335600

In [5]:
features = ['Date', 'Open', 'High', 'Low', 'Adj Close', 'Volume']
X = df[features]
Y= df['Close']

KeyError: 'close'